<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.seaOf.httx.mapper.RoleMapper">
	<insert id="saveRole">
		insert into role_p
			<trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="roleId != null">role_id,</if>
				<if test="name != null">name,</if>
				<if test="remarks != null">remarks,</if>
				<if test="orderNo != null">order_no,</if>
				<if test="checked != null">checked,</if>
			</trim>
			<trim prefix=" values(" suffix=")" suffixOverrides=",">
				<if test="roleId != null">#{roleId},</if>
				<if test="name != null">#{name},</if>
				<if test="remarks != null">#{remarks},</if>
				<if test="orderNo != null">#{orderNo},</if>
				<if test="checked != null">#{checked},</if>
			</trim>
	</insert>
</mapper>